<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.ihy123.soundflux">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<application android:label="SoundFlux" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
</manifest>